body {
    height: 100%;
    width: 100%;
    margin: 0px ;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-left: 30px;
    margin-right: 30px;
}

header {
    display: flex;
    background-color: rgb(195, 248, 195);
    margin: 0;
    height: 80px;
    align-items: center;
}

.test-logo {
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 50px;
    color: rgb(70, 70, 70);
}

#no-plants {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: bold;
}

.output {
    border: 1px solid rgb(218, 213, 213);
    border-radius: 2%;
    margin-bottom: 30px;
    padding: 20px;
}

#add-plant {
    margin-left: 90%;
    color: black;
    font-size: 12px;
    background-color: rgb(195, 248, 195);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20%;
    padding: 5px;
    text-decoration: none;
}
